<%- include('../partials/header') %>

<section class="container  mt-5">
  <div class="container ">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white">Series</h2>
        <p class="lead text-white">Todas as séries cadastradas</p>
          <a href="/series/nova" class="btn btn-outline-light mb-2 small">Adicionar uma série</a>
          <>
            <% series.forEach(serie => {%>
              <div class="card mb-2 bg-dark border border-secondary">
                <div class="card-body">
                  <h4 class="card-title"><a href="series/info/<%= serie._id %>" class="text-white text-decoration-none"><%= serie.name %></a></h4>
                  <p class="card-text"><span class="badge bg-primary"
                    ><%= labels.filter(label => label.id === serie.status)[0].name %></span
                  ></p>
                  <a href="/series/excluir/<%= serie._id %> " class="card-link text-white text-decoration-none">Excluir</a>
                  <a href="/series/editar/<%= serie._id %>" class="card-link text-white text-decoration-none">Editar</a>
                </div>
              </div>
            <% })%>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer') %>
